//COLORS
$color-primary: #ffff00da;
$color-primary-light: #f4f48fa6;
$color-primary-dark: #fad502;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #ffff;
$color-black: #000;

//font
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
